{% extends "template.html" %}
{% load i18n %}


{% block content %}
    <div class="paper-card paper-shadow-2dp">
        <div class="paper-table-title">Hubs</div>
        <table class="paper-table paper-table--responsive">
            <thead>
            <tr>
                <th>IATA</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for hub in hubs %}
            <tr>
                <td>{{hub.airport.iata}} </td>
                <td>{{hub.airport.name}}</td>
                <td>{{hub.airport.city}}</td>
                <td>
                    <a href="{% url 'hub-view' hub.pk %}" class="paper-button paper-button--colored">{% trans 'View all lines' %}</a>
                    <a href="{% url 'buy-line' hub.pk %}" class="paper-button paper-button--colored">{% trans 'Buy a line' %}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
