{% load i18n %}

<footer class="page-row">
    <div class="paper-footer am-footer">
        <div>
            &copy; {% now "Y" %} {% trans "Open Airline Manager" %}. {% trans "Open Airline Manager is available under an MIT license on" %} <a href="https://github.com/Dunstark/open_airline_manager">Github</a>
        </div>

        <div class="paper-spacer"></div>

        <div class="code-origin">
             <i class="material-icons">code</i> with <i class="material-icons">favorite</i> at CentraleSupélec
        </div>
    </div>
</footer>