{% load static from staticfiles %}{% load i18n %}{% load gravatar %}{% load menuhighlighter %}{% load humanize %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Open Airline Manager</title>

    <!-- Platform specific metadata -->
    <meta name="application-name" content="Open Airline Manager">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-square70x70logo" content="{% static "img/windows/tiny.png" %}">
    <meta name="msapplication-square150x150logo" content="{% static "img/windows/square.png" %}">
    <meta name="msapplication-wide310x150logo" content="{% static "img/windows/wide.png" %}">
    <meta name="msapplication-square310x310logo" content="{% static "img/windows/large.png" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" sizes="16x16">
    <meta name="theme-color" content="#2196F3">
    <link rel="icon" type="image/png" href="{% static "img/android/192x192.png" %}" sizes="192x192">

    <script src="{% static "js/jquery-2.1.4.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-ui.min.js" %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0-beta2/Chart.min.js" type="text/javascript"></script>
    <script src="{% static "js/underscore.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/paper.js" %}" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/paper.css" %}" rel="stylesheet">
{% block extraheader %}
{% endblock %}
  </head>
  <body>
    <div class="paper-wrapper">
        <div class="page-row">
        <header class="paper-header paper-header--relative paper-header--menu">
          <div class="paper-header-row">
            <span class="paper-header-title"><a href="{% url "index" %}">Open Airline Manager</a></span>
            <div class="paper-spacer"></div>
            <nav class="paper-header-nav">
            {% with airline=user.airline.first %}
              <span class="paper-header-nav-item">{{ airline.money|intcomma }}&euro;</span>
              <a class="paper-header-nav-item header-nav-profile" href="{% url "profile" %}">
                <span class="">{{airline.name}}</span>
                <img src="{% gravatar_url user.email "32" %}" class="header-img" alt="user.get_username">
              </a>
            {% endwith %}

            </nav>
          </div>
            <div class="paper-header-row paper-header-row-nav">
                <nav class="paper-header-main-nav">
                    <a class="{% active 'home' %}" href="{% url 'home' %}">{% trans "Home" %}</a>
                    <a class="{% active 'planes' %}" href="{% url 'planes' %}">{% trans "Planes" %}</a>
                    <a class="{% active 'network' %}" href="">{% trans "Network" %}</a>
                    <a class="{% active 'research' %}" href="">{% trans "Research" %}</a>
                    <a class="{% active 'marketing' %}" href="">{% trans "Marketing" %}</a>
                </nav>
            </div>
        </header>
        </div>
  {% block preheader %}
  {% endblock %}

      <main class="page-row page-row-expanded">
        <div class="main-content">
          {% block content %}

          {% endblock %}
        </div>
      </main>
      
      {% include "mini-footer.html" %}
    </div>

  {% block dialog %}
  {% endblock dialog %}
  {% block toast %}
  {% endblock toast %}
  {% block script %}
  {% endblock script %}
  </body>
</html>