{% extends "lightweight.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="paper-card paper-shadow-2dp login-card">
    
    <div class="title">
        Login
    </div>

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="paper-input-group">
        <label class="paper-label">{{field.label_tag}}</label>
        {% render_field field class+="paper-input" %}
    </div>
    {% endfor %}
    <button type="submit" class="paper-button paper-button-raised paper-button--colored">
        {% trans "Login" %}
    </button>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</div>
{% endblock %}