{% extends "lightweight.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="paper-card paper-shadow-2dp">

    <div class="paper-stepper">
        <div class="paper-step paper-step--active">
            <div class="paper-step-circle">{% if active == 1 %}1{% else %}<i class="material-icons">done</i>{% endif %}</div>
            <div class="paper-step-name">
                {% trans "Registration" %}
            </div>
        </div>
        <div class="paper-stepper-separator"> </div>

        <div class="paper-step {% if active >= 2 %} paper-step--active{% endif %}">
            <div class="paper-step-circle">{% if active <= 1 %}2{% else %}<i class="material-icons">done</i>{% endif %}</div>
            <div class="paper-step-name">
                {% trans "Create an airline" %}
            </div>
        </div>

        <div class="paper-stepper-separator"> </div>

        <div class="paper-step {% if active >= 3 %} paper-step--active{% endif %}">
            <div class="paper-step-circle">{% if active <= 3 %}3{% else %}<i class="material-icons">done</i>{% endif %}</div>
            <div class="paper-step-name">
                {% trans "Buy a hub" %}
            </div>
        </div>

    </div>

    <div class="paper-card-title">
        Create an account
    </div>

    <div class="paper-card-content">
    {% if form.non_fields_errors %}
    <p>{{ form.non_fields_errors }}</p>
    {% endif %}

    <form method="post" action="{% url 'registration' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="paper-input-group {% if field.errors %}paper-input-group--error{% endif %}">
            <label class="paper-label">{{field.label_tag}}</label>
            {% render_field field class+="paper-input" %}
        </div>
        {% if field.errors %}
            <div class="paper-input-error">
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="paper-card-actions">
        <button type="submit" class="paper-button paper-button--colored">
            {% trans "Register" %}
        </button>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

</div>
{% endblock %}