/*! paper.css | MIT License */

// Core variables and mixins
@import "paper/variables";
@import "paper/mixins";

// Reset and dependencies
@import "paper/normalize";

// Core
@import "paper/scaffolding";
@import "paper/typography";

// Components
@import "paper/shadow";
@import "paper/cards";
@import "paper/buttons";
@import "paper/header";
@import "paper/footer";
@import "paper/tables";
@import "paper/dialog";
@import "paper/tooltip";
@import "paper/toast";
@import "paper/steppers";

.main-content {
	margin: 0 auto;
  padding-bottom: 48px;
  width: 100%;
	max-width: 1155px;
  box-sizing: border-box;
}

.calendar-view {
	width: 100%;
	max-width: 1155px;
}
.calendar-view:after {
  clear: both;
}

.add-fab {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}

.col-7 {
  width: 165px;
  border-width: 0 1px 1px 0;
  border-color: #d2d2d2;
  border-style: solid;
  box-sizing: border-box;
  margin: 0;
  float: left;
  padding: 0 24px;
}

.col-7:nth-child(7n) {
  border-width: 0 0 1px 0;
}

.login-card {
  max-width: 100%;
  padding: 16px;
  margin: 32px auto;
}

.am-footer {
  margin-top: 0px;
  font-size: 14px;
}

.header-img {
  height: 32px;
  width: 32px;
  margin: 0 4px;
  border-radius: 100%;
}

.profile-card {
  width: 100%;
}

.profile-card > .paper-card-title {
  color: #fff;
  height: 300px;
  background: url('../img/profile-back.jpg')  center / cover;
}

.profile-card-title-content {
  align-self: flex-end;
  color: inherit;
}

.profile-card-title-email {
  @extend .caption;
}

.profile-card-title-content img {
  border-radius: 100%;
}

.profile-card-title-content-text {
  margin: 0;
  font-size: 2.42rem;
  font-weight: 300;
}

.profile-card-content {
  padding: 0px;
}

.profile-character-table {
  width: 100%;
}

.header-nav-profile {
  display: flex;
  align-items: center;
}

.time-picker {
  width: 100px !important;
}

.time-picker-label {
  &.focused::after {
    width: 0 !important;
  }
}

.oam-index-header {
  background: linear-gradient(rgba($color-black, 0.25) 0%, rgba($color-black, 0.25) 75%,rgba($color-black, 0.45) 100%), url("../img/airport_terminal.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  color: $color-dark-contrast;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  & .oam-index-header-logo {
    display: block;
    width: 256px;
    height: 256px;
    margin: 0 0 16px 0;
  }
  & .oam-index-header-title {
    display: block;
    margin: 0;
    text-shadow: 1px 1px 2px rgba($color-black, 0.25);
  }
  & .oam-index-header-credit {
    align-self: flex-end;
    color: rgba($color-dark-contrast, 0.87);
    font-size: 12px;
    font-weight: bold;
    & a {
      color: $color-dark-contrast;
    }
  }
}

.oam-ranking-card {
  color: rgba(white, 0.87);
  background: #303F9F;
  width: 50%;
  max-width: 50%;
}

.oam-income-card {
  color: rgba(white, 0.87);
  background: #2E7D32;
  width: 50%;
  max-width: 50%;
}

.oam-departure-card {
  @extend .paper-card--dark;
  width: 100%;
  & .oam-departure-table {
    width: 100%;
  }
}

.oam-chart {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 16px;
}

.oam-plane-card {
  & .oam-plane-card-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    & .oam-plane-card-img {
      width: 20%;
      & img {
        width: 100%;
      }
    }
    & .oam-plane-card-data {

    }
  }
}

.oam-airline-info-card {
  width: 100%;
  & .oam-airline-info-content {
    display: flex;
    flex-direction: row;
    & .oam-airline-text {
      padding: 8px 16px 8px 16px;
      display: flex;
      align-items: center;
      flex-grow: 1;
      & .oam-airline-icon {
        font-size: 48px;
        color: #F9A825;
      }
      & .oam-airline-text-content {
        margin-left: 8px;
        & .oam-airline-label {
          @extend .caption;
        }
        & .oam-airline-value {
          @extend .headline;
        }
      }
    }
  }
}