@import "variables";

.paper-table {
    & th, td {
        padding: 0 24px;
        height: $table-row-height;
        text-align: left;
        &.paper-table-numeric {
            text-align: right;
        }
    }
    & td {
        color: $table-color;
        background: transparent;
        font-size: 13px;
    }
    & th {
        color: $table-head-color;
        font-weight: 500;
        font-size: 12px;
    }
    & tr {
        border-bottom: 1px solid rgba($color-black, 0.12);
        transition: background 0.2s $animation-curve-default;
        will-change: background;
    }
    & tbody tr {
        background: $table-background;
        &:hover {
            background: $table-hover-background;
        }
    }
    &.paper-table--responsive {
        width: 100%;
        overflow-x: auto;
        & table {

        }
    }
    &.paper-table--dark {
        & td {
            color: $table-dark-color;
        }
        & th {
            color: $table-dark-head-color;
        }
        & tr {
            border-bottom: 1px solid rgba($color-white, 0.12);
        }
        & tbody tr {
            background: $table-dark-background;
            &:hover {
                background: $table-dark-hover-background;
            }
        }
    }
}

.paper-table-title {
    @extend .headline;
    padding: 24px 24px 0 24px;
}