@import "variables";

body {
    font-family:'Roboto','Helvetica','Arial',sans-serif !important;
    font-size: $default_font_size;
    color: rgba($color-black, 0.87);
    font-weight: 400;
}


h1 {
  font-weight: 300;
  font-size: 8rem;
}

h2 {
  font-weight: normal;
  font-size: 4rem;
}

h3 {
  font-weight: normal;
  font-size: 3.21rem;
}

h4 {
  font-weight: normal;
  font-size: 2.42rem;
}

.headline {
  font-weight: normal;
  font-size: 1.71rem;
}

.title {
  font-weight: 500;
  font-size: 1.43rem;
}

.caption {
  font-weight: normal;
  font-size: 0.86rem;
}

.subhead {
  font-weight: normal;
  font-size: 1.14rem;
}

.font-body1 {
  font-weight: normal;
  font-size: 1rem;
}

.font-body2 {
  font-weight: bold;
  font-size: 1rem;
}

a {
  font-weight: 500;
  color: $accent-color;
}